/* colocar un * antes es para todo el documento*/
*{
    font-family: 'Archivo Narrow','Times new roman';
    /*font-size: 12px;*/
}

header{
    text-align: center;
    height: 100%;
    background: cornflowerblue;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1{
    font-size: 32px;
    text-align: center;
}
h2{
    font-size: 17px;
}
h3{
    font-size: 15px;
}
.content{
    font-size: 13px;
    font-style: italic;
}
.sub {
    font-size: 11px;
    line-height: 0px;
}
.image-profile{
    width: 150px;
    height: 200px;
    
    display: flex;
    align-items: center;
    justify-content: center;
 }

body{
    background-color: #EEDC9A;
    text-align: justify;
}

.negrita{
    font-weight: bold;
    text-decoration: underline;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: right;
}